.header-container {
  margin-bottom: 10px;

  .header-row {
    border-radius: 15px;
    display: flex;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(56, 17, 92);

    .row-item {
      margin: 10px;
      color: rgb(174, 174, 174);
    }
  }
}
